In [2]:
%reload_ext lab_black
import sqlite3
import pandas as pd

In [19]:
batch_name = "boo_batch"
con = sqlite3.connect(
    f"/home/jupyter/tf/models/batch_run/{batch_name}/batch_results.sqlite"
)
cur = con.cursor()

In [14]:
df = pd.read_csv(
    "/home/jupyter/tf/models/high_stress_OP_r0028/result_strain_item.csv", index_col=0
)

In [15]:
df.reset_index()

,word,ort,pho,wf,frequency,pho_consistency,imageability,img,model,epoch,...,uuid,code_name,unit_time,sample,sample_mil,cond_wf,cond_pho,cond_img,condition_pf,condition_pfi
0,ball,__ba_ll___,__bal_____,1393,HF,INC,HI,6.6,/home/jupyter/tf/models/high_stress_OP_r0028/w...,1,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,0.67,10000,0.01,HF,INC,HI,INC_HF,INC_HF_HI
1,bank,__ba_nk___,__b@nk____,53170,HF,CON,HI,6.1,/home/jupyter/tf/models/high_stress_OP_r0028/w...,1,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,0.67,10000,0.01,HF,CON,HI,CON_HF,CON_HF_HI
2,beach,__beach___,__biC_____,1691,HF,CON,HI,6.5,/home/jupyter/tf/models/high_stress_OP_r0028/w...,1,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,0.67,10000,0.01,HF,CON,HI,CON_HF,CON_HF_HI
3,beak,__beak____,__bik_____,10,LF,INC,HI,5.2,/home/jupyter/tf/models/high_stress_OP_r0028/w...,1,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,0.67,10000,0.01,LF,INC,HI,INC_LF,INC_LF_HI
4,beard,__beard___,__bird____,210,LF,INC,HI,6.3,/home/jupyter/tf/models/high_stress_OP_r0028/w...,1,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,0.67,10000,0.01,LF,INC,HI,INC_LF,INC_LF_HI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33435,wool,__wool____,__wUl_____,153,LF,INC,HI,5.8,/home/jupyter/tf/models/high_stress_OP_r0028/w...,100,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,4.00,1000000,1.00,LF,INC,HI,INC_LF,INC_LF_HI
33436,worm,__wo_rm___,__w^rm____,100,LF,INC,HI,6.6,/home/jupyter/tf/models/high_stress_OP_r0028/w...,100,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,4.00,1000000,1.00,LF,INC,HI,INC_LF,INC_LF_HI
33437,worth,__wo_rth__,__w^rT____,5251,HF,INC,LI,2.3,/home/jupyter/tf/models/high_stress_OP_r0028/w...,100,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,4.00,1000000,1.00,HF,INC,LI,INC_HF,INC_HF_LI
33438,wrong,_wro_ng___,__rang____,3195,HF,CON,LI,2.4,/home/jupyter/tf/models/high_stress_OP_r0028/w...,100,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,4.00,1000000,1.00,HF,CON,LI,CON_HF,CON_HF_LI
33439,zone,__zo_ne___,__zon_____,721,LF,INC,LI,4.1,/home/jupyter/tf/models/high_stress_OP_r0028/w...,100,...,4a3df91e2ffd4515b5e204eade621c21,high_stress_OP_r0028,4.00,1000000,1.00,LF,INC,LI,INC_LF,INC_LF_LI

In [10]:
df.columns

Index(['ort', 'pho', 'wf', 'frequency', 'pho_consistency', 'imageability',
       'img', 'model', 'epoch', 'timestep', 'output', 'acc', 'sse_slot1',
       'sse_slot2', 'sse_slot3', 'sse_slot4', 'sse_slot5', 'sse_slot6',
       'sse_slot7', 'sse_slot8', 'sse_slot9', 'sse_slot10', 'sse',
       'mean_output_slot4', 'mean_output_slot10', 'input_s', 'uuid',
       'code_name', 'unit_time', 'sample', 'sample_mil', 'cond_wf', 'cond_pho',
       'cond_img', 'condition_pf', 'condition_pfi'],
      dtype='object')

In [16]:
df.to_sql("testing", con, if_exists="append")

In [ ]:
sql_for_extract_all = 'SELECT * FROM testing'

In [27]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [28]:
print(cur.fetchall())

[('taraban',)]

In [29]:
df = pd.read_sql_query("SELECT * from taraban", con)

In [31]:
df.testset.unique()

array(['taraban_hf-exc', 'taraban_hf-reg-inc', 'taraban_lf-exc',
       'taraban_lf-reg-inc', 'taraban_ctrl-hf-exc',
       'taraban_ctrl-hf-reg-inc', 'taraban_ctrl-lf-exc',
       'taraban_ctrl-lf-reg-inc'], dtype=object)